<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include("nav") %>
    <form action="/user/login" method="post">
        <input type="email" placeholder="Enter Your Email" name="email">
        <input type="password" placeholder="Enter Your Password" name="password">
        <a href="/user/signup">signup</a>
        <input type="submit">
    </form>
</body>
</html>